<aside class="sidebar">
  <div class="logo"><h2>HOMESTYLE</h2><span>Administración de muebles</span></div>
  <nav>
    <a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/admin/productos" routerLinkActive="active">Productos</a>
    <a routerLink="/admin/categorias" routerLinkActive="active">Categorías</a>
    <a routerLink="/admin/marcas" routerLinkActive="active">Marcas</a>
    <a routerLink="/admin/especificaciones" routerLinkActive="active">Especificaciones</a>
    <a routerLink="/admin/proveedores" routerLinkActive="active">Proveedores</a>
    <a routerLink="/admin/usuarios" routerLinkActive="active">Usuarios</a>
    <a routerLink="/admin/pedidos" routerLinkActive="active">Pedidos</a>
    <a routerLink="/admin/reportes" routerLinkActive="active">Reportes</a>
    <a routerLink="/admin/configuracion" routerLinkActive="active">Configuración</a>
    
  </nav>
  <button type="button" (click)="cerrarSesion()">Cerrar sesión</button>
</aside>
